body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #f4ade8;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.productos {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    background-color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.producto img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.producto img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.producto h3 {
    margin: 10px 0;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
